html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:focus {
    outline: none;
}

.calculator-container {
    display: flex;
    height: 100vh;
}

.calculator {
    border: black 2px solid;
    border-radius: 20px;
    margin: auto;
    height: 620px;
    width: 480px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.display-container {
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: hsl(170, 70%, 70%);
    border-width: 20px;
    flex-basis: auto;
    flex-shrink: 0;
    display: flex;
}

.display-outline {
    background-color: hsla(128, 71%, 80%, 0.485);
    box-shadow: rgba(0, 0, 0, 0.24) inset 0px 3px 8px;
    padding: 10px;
    display: flex;
    flex-grow: 1;
    margin: 20px;
    border: rgba(46, 194, 88, 0.686) solid 0.1px;
}

.display {
    margin-left: auto;
    margin-top: auto;
    font-size: 49px;
    padding: 0 5px;
}

/* 16 charateers  */

.buttons {
    display: flex;
    flex-grow: 1;
    border-width: 2px 0 0 0;
}

.buttons, .bottom-numbers, .digits {
    border-color: rgb(83, 0, 83);
    border-style: solid;
}

.digits {
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 0;
    background-color: hwb(350 76% 0%);
    border-bottom-left-radius: 20px;
}

.numbers {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    flex-grow: 5;
}

.bottom-numbers {
    width: 300px;
    justify-content: space-between;
    padding: 5px 10px; /* adjust this after final layout*/
    align-items: center;
    display: flex;
    flex-grow: 1;
    border-width: 2px 0 0 0;
}

.function-buttons {
    flex-grow: 1;
    background-color: hsl(308, 70%,80%);
    border-bottom-right-radius: 20px;
}

.operating-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px 12px; /* adjust this after final layout*/
}

.erasing-buttons {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    gap: 15px;
    padding: 15px 0;
}

.equating-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.numbers button, .zero, .decimal {
    height: 80px;
    width: 80px;
} 

button.operators {
    height: 80px;
    width: 60px;
}

button.equals {
    height: 60px;
    width: 150px;
}

button.clear {
    height: 60px;
    width: 150px;
}

button.backspace {
    height: 60px;
    width: 150px;
}

button {
    background-color: ;
    font-size: ;
    padding: ;
    border-radius: ;
    border: ;
    transition-duration: ;
    box-shadow: ;
    width: ;
}

button:hover {

}